APP_ENV=local
APP_DEBUG=true
APP_KEY=
APP_TIMEZONE=UTC

LOG_CHANNEL=stack
LOG_SLACK_WEBHOOK_URL=

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
QUEUE_DRIVER=sync

USER_SUPER_ADMIN_POS=
USER_ADMIN_POS=
USER_OWNER_POS=
USER_EMPLOYEE_POS=

LOG_USER_CREATE=
LOG_USER_CHANGE_PROFILE=
LOG_USER_CHANGE_PASSWORD=
LOG_USER_CHANGE_POSITION=
LOG_USER_DELETE=
LOG_USER_LOGIN=

LOG_CATEGORY_CREATE=
LOG_CATEGORY_UPDATE=
LOG_CATEGORY_DELETE=

LOG_SUB_CATEGORY_CREATE=
LOG_SUB_CATEGORY_UPDATE=
LOG_SUB_CATEGORY_DELETE=

LOG_UNIT_CREATE=
LOG_UNIT_UPDATE=
LOG_UNIT_DELETE=